{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier votre mot de passe' %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center my-5">Modifier votre mot de passe</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
