{% extends 'layouts/base.html.twig' %}

{% block title 'Profile' %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <h1 class="my-5">Profile</h1>
        <img src={{app.user.getGravatar(200)}} alt="{{ app.user.fullName }}'s avatar" class="rounded-circle shadow ">
        <p class="lead mt-5">{{ app.user.email }}</p>
        <h2 class="m-5">{{ app.user.fullName }}</h2>
        <p>
            <a href="#">Editer votre compte</a> | <a href="#">Modifier le mot de passe</a>
        </p>
    </div>
</div>

{% endblock %}
