        <h1>Hello ! confirmez votre adresse mail</h1>
        <p>
            Confirmez votre adresse mail en cliquant sur le lien suivant <br><br>
            <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
            ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
        </p>
        <p>
            La team pintabook !
        </p>



