{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>Page not found</h1>
            <p>
                you cannot access to this page. go back <a href="{{ path('app_home') }}">return to the homepage</a>.
            </p>
        </div>
    </div>
{% endblock %}