{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto bg-dark rounded m-5">
            <h1 class="m-5 text-center text-white">ERROR ! 🤔</h1>
            <p class="m-5 text-center" >
                <a href="{{ path('app_home') }}">return to the homepage</a>.
            </p>
        </div>
    </div>
{% endblock %}